<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form method="post">
        <h1>Login</h1>
        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
        <a href="{{ url_for('register') }}">Register</a>
    </form>
</body>
</html>
